<!-- <div class="detail-section mt-5">
    <div class="container-fluid details">

        <img src="{{ product.imageUrl}}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency: 'BRL' }}</div>
        <button (click)="addToCart()" class="btn btn-warning btn-sm" style="padding: 10px 30px;"><i class="fa fa-shopping-cart" style="font-size: 15pt;" aria-hidden="true"></i></button>

        <hr>
        <h4>Descrição</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Voltar a lista de produtos</a>
   </div>
</div> -->




<div class="product-featured">

    <h2 class="title">Detalhes do produto</h2>

    <div class="showcase-wrapper has-scrollbar">

        <div class="showcase-container">

            <div class="showcase">

                <div class="showcase-banner">
                    <img src="{{ product.imageUrl}}"
                        alt="shampoo, conditioner & facewash packs" class="showcase-img">
                </div>

                <div class="showcase-content">

                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>

                    <a href="#">
                        <h3 class="showcase-title">{{ product.name }}</h3>
                    </a>

                    <p class="showcase-desc">
                        {{ product.description }}
                    </p>

                    <div class="price-box">
                        <p class="price">{{ product.unitPrice | currency: 'BRL' }}</p>

                        <del>R$40,00</del>
                    </div>

                    <button class="add-cart-btn" (click)="addToCart()">Adicione ao Carrinho</button>

                    <div class="showcase-status">
                        <div class="wrapper">
                            <p>
                                Estoque: <b>{{ product.unitsInStock }}</b>
                            </p>
                        </div>

                        <div class="showcase-status-bar"></div>
                    </div>

                    <div class="countdown-box">

                        <p class="countdown-desc">
                            Corra! A promoção acaba em:
                        </p>

                        <div class="countdown">

                            <div class="countdown-content">

                                <p class="display-number">360</p>

                                <p class="display-text">Dias</p>

                            </div>

                            <div class="countdown-content">
                                <p class="display-number">24</p>
                                <p class="display-text">Horas</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">59</p>
                                <p class="display-text">Min</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">00</p>
                                <p class="display-text">Sec</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="notification-toast" data-toast *ngIf="showToast">

        <button class="toast-close-btn" data-toast-close (click)="closeToast()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
    
        <div class="toast-banner">
          <img src="{{ toastProduct.imageUrl }}" alt="Rose Gold Earrings" width="80" height="70">
        </div>
    
        <div class="toast-detail">
    
          <p class="toast-message">
            Item adicionado ao carrinho! 
          </p>
    
          <p class="toast-title">
            {{toastProduct.name}}
          </p>
    
          <button routerLink="/cart-details" class="toast-button">
            Ir ao carrinho
            <ion-icon name="bag-handle-outline" class="ms-2"></ion-icon>
          </button>
            
          
    
        </div>
    
      </div>

</div>


