<div class="detail-section mt-5">
    <div class="container-fluid details">

        <img src="{{ product.imageUrl}}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency: 'BRL' }}</div>
        <button (click)="addToCart()" class="btn btn-warning btn-sm" style="padding: 10px 30px;"><i class="fa fa-shopping-cart" style="font-size: 15pt;" aria-hidden="true"></i></button>

        <hr>
        <h4>Descrição</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Voltar a lista de produtos</a>
   </div>
</div>

