<div class="mobile-bottom-navigation">

      
    <button class="action-btn" routerLink="/cart-details">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <span class="count">{{ totalQuantity }}</span>
    </button>

    <button class="action-btn">
      <ion-icon name="home-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <ion-icon name="heart-outline"></ion-icon>

      <span class="count">0</span>
    </button>

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="grid-outline"></ion-icon>
    </button>

  </div>
