<div class="banner">

    <div class="container">

      <div class="slider-container has-scrollbar">

        <div class="slider-item">

          <img src="./assets/images/banner-1.jpg"
            alt="banner com diferentes colagens á direita: um prédio, um coração de papel, uma rosa vermelha, uma borboleta de jornal e um sol no canto superior direito."
            class="banner-img">

          <div class="banner-content">

            <p class="banner-subtitle">Cupkat:</p>

            <h2 class="banner-title">"Personalize o seu mundo com estilo."</h2>

            <p class="banner-text">
              Conheça nossos artigos personalizados
            </p>

            <button (click)="goToProcucts()" class="banner-btn">Produtos</button>

          </div>

        </div>

        <div class="slider-item">

          <img src="./assets/images/banner-2.1.jpg"
            alt="banner com diferentes colagens, um desenho do corpo de um gato a esquerda, e a cabeça de um gato á direita. Mostra também livros de capa amarela no centro com os respectivos títulos: Crash Course in Python, Beacome a Guru JavaScript e Exploring Vue.js."
            class="banner-img">

          <div class="banner-content">

            <p class="banner-subtitle">Conhecimento:</p>

            <h2 class="banner-title">Leia<br>e Aprenda</h2>

            <p class="banner-text">
              por até R$<b> 14</b>,99
            </p>

            <button (click)="goToProcucts()" class="banner-btn">Conheça</button>

          </div>

        </div>

        <div class="slider-item">

          <img src="./assets/images/banner-3.1.jpg"
            alt="banner com diferentes colagens á direita e uma pessoa vestida com um produto da Cupkat, uma camisa branca com a ilustração de um gato vestido de bruxo"
            class="banner-img">

          <div class="banner-content">

            <p class="banner-subtitle">Conheça:</p>

            <h2 class="banner-title2">Produtos personalizados com a sua cara.</h2>

            <p class="banner-text">
              camisas por até R$<b> 29</b>,99
            </p>

          </div>

        </div>

      </div>

    </div>

  </div>
<div class="product-main" id="product-main">

    <h2 class="title" *ngIf="searchMode != true">Novos Produtos</h2>
    <h2 class="title" *ngIf="searchMode">Resultados da busca: {{ previousKeyword }}</h2>
    <div class="product-grid">

        <div class="showcase" *ngFor="let tempProduct of products">

            <div class="showcase-banner">
                <a routerLink="/products/{{ tempProduct.id }}">
                    <img src="{{ tempProduct.imageUrl }}" width="300"
                        class="product-img default" alt="{{ tempProduct.alt }}">
                    <img src="{{ tempProduct.imageUrl }}" alt="{{ tempProduct.alt }}" width="300"
                        class="product-img hover">
                </a>
                <!--Feature de desconto-->
                <!-- <p class="showcase-badge">15%</p> -->

                <div class="showcase-actions">

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>

                    <button class="btn-action" (click)="addToCart(tempProduct)">
                        <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                    

                </div>

            </div>

            <div class="showcase-content">

                <a routerLink="/products/{{ tempProduct.id }}">
                    <h3 class="showcase-title">{{ tempProduct.name }}</h3>
                </a>

                <div class="price-box">
                    <p class="price">{{ tempProduct.unitPrice | currency:'BRL' }}</p>
                    <del>R$75,00</del>
                </div>

            </div>

        </div>

        <!--if products empty then display a message-->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            Sem resultados para busca.
        </div>

    </div>

     <!--begin footer-->
     <div class="footer-pagination">
        <div class="row">
            <div class="col-md-6">
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9" style="padding-left: 30%">
                        
                        <ngb-pagination [(page)]="thePageNumber"
                                        [pageSize]="thePageSize"
                                        [collectionSize]="theTotalElements"
                                        [maxSize]="5"
                                        [boundaryLinks]="true"
                                        (pageChange)="listProducts()">
                        </ngb-pagination>

                    </div>

                    <div>
                        <span class="me-2">Itens/Página</span>

                        <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                            <option>2</option>
                            <option>5</option>
                            <option selected="true">10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--end footer-->

    <div class="notification-toast" data-toast *ngIf="showToast">

        <button class="toast-close-btn" data-toast-close (click)="closeToast()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
    
        <div class="toast-banner">
          <img src="{{ toastProduct.imageUrl }}" alt="Rose Gold Earrings" width="80" height="70">
        </div>
    
        <div class="toast-detail">
    
          <p class="toast-message">
            Item adicionado ao carrinho! 
          </p>
    
          <p class="toast-title">
            {{toastProduct.name}}
          </p>
    
          <button routerLink="/cart-details" class="toast-button">
            Ir ao carrinho
            <ion-icon name="bag-handle-outline" class="ms-2"></ion-icon>
          </button>
            
          
    
        </div>
    
      </div>


</div>