<!--
    - HEADER
  -->
<div class="overlay" data-overlay></div>


<header>

  <!--Barra de acessibilidade-->
  <div class="header-top">

    <div class="container">

      <ul class="header-social-container">
        <li>
          <div class="social-link" onclick="toggleHighContrast()">
            <ion-icon name="contrast-outline"></ion-icon>
          </div>
        </li>
        <li>
          <button class="social-link" (click)="increaseFontSize()">
            + A
          </button>
        </li>
        <li>
          <button class="social-link" (click)="decreaseFontSize()">
            - A
          </button>
        </li>

      </ul>

      <div class="header-alert-news">
        <a href="#conteudo" accesskey="1" title="Ir para a área de conteúdo"
          onclick="scrollToSection(event, 'conteudo')">Ir para o conteúdo [1]</a>
        <a href="#header-main" accesskey="2" title="Ir para o menu de navegação"
          onclick="scrollToSection(event, 'header-main')">Ir para o menu [2]</a>
        <a href="#footer" accesskey="3" title="Ir para o rodapé" onclick="scrollToSection(event, 'footer')">Ir para o
          rodapé [3]</a>
      </div>
    </div>

  </div>
  <!--Fim da Barra de acessibilidade-->

  <div class="header-main" id="header-main">

    <div class="container">

      <a href="#" class="header-logo">
        <img src="./assets/images/logo/Cupkat.svg" class="white-logo"
          alt="Logo da Cupkat com fonte preta e detalhes em branco" width="140" height="90">
      </a>

      <!--SEARCH-->
      <app-search class="header-search-container"></app-search>

      <div class="header-user-actions">

        <button class="action-btn">
          <ion-icon name="person-outline"></ion-icon>
        </button>

        <app-login-status></app-login-status>

        <!--CART STATUS-->
        <app-cart-status></app-cart-status>

      </div>

    </div>

  </div>


  <app-mobile-responsive></app-mobile-responsive>

</header>





<!--
    - MAIN
  -->

<main id="conteudo">


  <!--
      - PRODUCT
    -->

  <div class="product-container">

    <div class="container">


      <!--
          - SIDEBAR
        -->

      <div class="sidebar  has-scrollbar" data-mobile-menu>

        <app-product-category-menu></app-product-category-menu>

        <div class="product-showcase">

          <h3 class="showcase-heading">Mais vendidos</h3>

          <div class="showcase-wrapper">

            <div class="showcase-container">

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img src="./assets/images/products/1.jpg" alt="baby fabric shoes" width="75" height="75"
                    class="showcase-img">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">baby fabric shoes</h4>
                  </a>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <div class="price-box">
                    <del>R$125,00</del>
                    <p class="price">R$95,00</p>
                  </div>

                </div>

              </div>

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img src="./assets/images/products/2.jpg" alt="men's hoodies t-shirt" class="showcase-img" width="75"
                    height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">men's hoodies t-shirt</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                  </div>

                  <div class="price-box">
                    <del>R$175.00</del>
                    <p class="price">R$90,00</p>
                  </div>

                </div>

              </div>

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img src="./assets/images/products/3.jpg" alt="girls t-shirt" class="showcase-img" width="75"
                    height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">girls t-shirt</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                  </div>

                  <div class="price-box">
                    <del>$135,00</del>
                    <p class="price">R$99,99</p>
                  </div>

                </div>

              </div>

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img src="./assets/images/products/4.jpg" alt="woolen hat for men" class="showcase-img" width="75"
                    height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">woolen hat for men</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <div class="price-box">
                    <del>R$70,00</del>
                    <p class="price">R$55.00</p>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>




      <!--
            - PRODUCT GRID
          -->

      <router-outlet></router-outlet>

    </div>

  </div>





  <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

  <div>

    <div class="container">

      <div class="testimonials-box">

        <!--
            - TESTIMONIALS
          -->

        <div class="testimonial">

          <h2 class="title" id="teste">Nossa Missão</h2>

          <div class="testimonial-card">

            <img src="./assets/images/testimonial-1.png" alt="Foto da criadora da Cupkat, Danielle Sanches."
              class="testimonial-banner" width="80" height="80">

            <p class="testimonial-name">Danielle Sanches</p>

            <p class="testimonial-title">Criadora da Cupkat</p>

            <img src="./assets/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">

            <p class="testimonial-desc">
              Meu objetivo é transformar suas compras online em uma experiência extraordinária!
            </p>

          </div>

        </div>



        <!--
            - CTA
          -->

        <div class="cta-container">

          <img src="./assets/images/cta-banner.jpg" alt="banner artístico com um vestido rosa e detalhes circulares."
            class="cta-banner">

          <a href="#" class="cta-content">

            <p class="discount">25% Desconto</p>

            <h2 class="cta-title">Cupkat Trincket</h2>

            <p class="cta-text">Comece com R$10</p>

            <button class="cta-btn">Conheça nossos produtos</button>

          </a>

        </div>



        <!--
            - SERVICE
          -->

        <div class="service">

          <h2 class="title">Nossos Serviços</h2>

          <div class="service-container">

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="boat-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Entrega em todo o Brasil</h3>
                <p class="service-desc">Para pedidos acima de R$100</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Entrega expressa</h3>
                <p class="service-desc">Para pedidos em algumas regiões do Brasil</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Melhor suporte online</h3>
                <p class="service-desc">Horário: 8h às 23h</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="arrow-undo-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Política de devolução</h3>
                <p class="service-desc">Devolução fácil e gratuita</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="ticket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Cashback de 30%</h3>
                <p class="service-desc">Para pedidos acima de R$100</p>

              </div>

            </a>

          </div>

        </div>

      </div>

    </div>

  </div>

</main>





<!--
    - FOOTER
  -->

<footer id="footer">

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Principais Itens</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Fashion</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Electronic</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Cosmetic</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Health</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Watches</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contato</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">(11) 98209-8739</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link">cupkat.trk@gmail.com</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>

          <a href="https://www.facebook.com/cupkat.trk/" class="footer-nav-link">CupKat Trinkets</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>

          <a href="https://www.instagram.com/cupkat.trk/?igshid=YmMyMTA2M2Y%3D" class="footer-nav-link">@cupkat.trk</a>
        </li>

      </ul>




      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Siga-nos</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img src="./assets/images/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="#">Cupkat</a> todos os direitos reservados.
      </p>

    </div>

  </div>

</footer>

<!--
    - custom js link
  -->