<div class="main-content page-m">

        <div class="container-fluid mt-3">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <h3>Preencha com seus dados</h3>
                <p>O que estiver com (<span class="required"></span>) é de preenchimento obrigatório.</p>
                <!--customer form group-->
                <div formGroupName="customer">
                    <h3>Cliente</h3>

                    <div class="row">
                        <div class="col-md-5"><label for="firstName" class="form-label required">Primeiro Nome</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="Exemplo: Maria">


                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                                        Nome é obrigatório
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label for="lastName" class="form-label required">Sobrenome</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Exemplo: Rodrigues da Silva">

                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                                        Sobrenome é obrigatório
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Sobrenome must be at least 2 characters long
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label for="email" class="form-label required">Email</label></div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <input id="email" formControlName="email" type="text" class="form-control" placeholder="Exemplo: mariarodrigues@email.com">

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="email?.errors?.['required']">
                                        Email é obrigatório
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Formato de email inválido
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!--shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Endereço de Entrega</h3>

                    <div class="row">
                        <div class="col-md-5"><label for="zipCode" class="form-label required">CEP</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input id="zipCode" formControlName="zipCode" placeholder="Exemplo: 99999-999" type="text" class="form-control" mask="00000-000">

                                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressZipCode?.errors?.['required']">
                                        CEP é obrigatório
                                    </div>

                                    <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                    <div>
                                        CEP inválido
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Rua</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input class="form-control" type="text" disabled [value]="shippingAddressStreet?.value">
                                
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Rua é obrigatória
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label for="number" class="form-label required">Número</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input formControlName="number" id="number" type="text" class="form-control">

                                <div *ngIf="shippingAddressNumber?.invalid && (shippingAddressNumber?.dirty || shippingAddressNumber?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressNumber?.errors?.['required']">
                                        Número é obrigatório
                                    </div>
                                    <div *ngIf="shippingAddressNumber?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label" for="complement">Complemento</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input formControlName="complement" id="complement" type="text" class="form-control" placeholder="Exemplo: Bloco, Apartamento etc.">

                                <div *ngIf="shippingAddressComplement?.invalid && (shippingAddressComplement?.dirty || shippingAddressComplement?.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="shippingAddressComplement?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Bairro</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input type="text" class="form-control" disabled [value]="shippingAddressBairro?.value">

                                <div *ngIf="shippingAddressBairro?.invalid && (shippingAddressBairro?.dirty || shippingAddressBairro?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressBairro?.errors?.['required']">
                                        Bairro é obrigatório
                                    </div>
                                    <div *ngIf="shippingAddressBairro?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Cidade</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input disabled [value]="shippingAddressCity?.value" type="text" class="form-control">

                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Cidade é obrigatória
                                    </div>
                                    <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Estado</label></div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <input disabled [value]="shippingAddressState?.value" type="text" class="form-control">

                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState?.errors?.['required']">
                                        Estado é obrigatório
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                
                <!--Add check box to copy shipping to billing-->
                <div class="mb-3">
                    <span class="form-label">Copiar do endereço de entrega</span>&nbsp;
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        
                    </label>
                </div>

                <!--Billing Address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Endereço de Pagamento</h3>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label required" for="zipCode2">CEP</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input formControlName="zipCode" id="zipCode2" type="text" class="form-control" placeholder="Exemplo: 99999-999" mask="00000-000">

                                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressZipCode?.errors?.['required']">
                                        CEP é obrigatório
                                    </div>

                                    <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>

                                    <div>
                                        CEP inválido
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Rua</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input disabled [value]="billingAddressStreet?.value" type="text" class="form-control">

                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Rua é obrigatória
                                    </div>

                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label required" for="number2">Número</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input id="number2" formControlName="number" type="text" class="form-control">

                                <div *ngIf="billingAddressNumber?.invalid && (billingAddressNumber?.dirty || billingAddressNumber?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressNumber?.errors?.['required']">
                                        Número é obrigatório
                                    </div>
                                    <div *ngIf="billingAddressNumber?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label for="complement2" class="form-label">Complemento</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input id="complement2" formControlName="complement" type="text" class="form-control" placeholder="Exemplo: Bloco, Apartamento etc.">

                                <div *ngIf="billingAddressComplement?.invalid && (billingAddressComplement?.dirty || billingAddressComplement?.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressComplement?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Bairro</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input disabled [value]="billingAddressBairro?.value" type="text" class="form-control">

                                <div *ngIf="billingAddressBairro?.invalid && (billingAddressBairro?.dirty || billingAddressBairro?.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressBairro?.errors?.['required']">
                                        Bairro é obrigatório
                                    </div>
                                    <div *ngIf="billingAddressBairro?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5"><label class="form-label">Cidade</label></div>
                        <div class="col-md-9">
                            <div class="mb-2">
                                <input disabled [value]="billingAddressCity?.value" type="text" class="form-control">

                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Cidade é obrigatória
                                    </div>

                                    <div *ngIf="billingAddressCity?.errors?.['minlength']">
                                        Por favor, insira um valor com pelo menos 2 caracteres.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-5"><label class="form-label">Estado</label></div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <input disabled [value]="billingAddressState?.value" type="text" class="form-control">

                                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState?.errors?.['required']">
                                        Estado é obrigatório
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- Stripe Elements Credit Card Section-->
                <div formGroupName="creditCard" class="form-area mb-5">
                    <h3>Cartão de Crédito ou Cartão de Débito</h3>

                    <div id="card-element" class="stripe-input">
                        <!-- a Stripe element will be inserted here -->
                    </div>

                    <!-- Used to display form errors -->
                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>
                </div>


                <!-- Order Details-->
                <div class="form-area">
                    <h3>Detalhes do Pedido: </h3>

                    <p>Quantidade: {{ totalQuantity }}</p>
                    <p>Envio: GRÁTIS</p>
                    <p>Preço Total: {{ totalPrice | currency: 'BRL' }}</p>
                </div>

                <!-- submit button-->
                <div class="mb-5">
                    <button type="submit" class="btn btn-primary" [disabled]="isDisabled">Finalizar Compra</button>
                </div>

            </form>

        </div>

</div>


